/* Общие стили */
body {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #282c34;
    color: #fff;
    padding: 20px 0;
}

.header_logo .prelogo img {
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.header_logo .prelogo img:hover {
    transform: scale(1.05);
}

.header_logo .logo img {
    width: 250px;
    height: auto;
}

figure .logotip {
    margin-top: 15px;
}

figcaption {
    font-size: 1.2em;
    font-style: italic;
    text-align: center;
    margin-top: 10px;
}

.content {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

h2 {
    text-align: center;
    font-size: 2.2em;
    color: #0066cc;
    margin-bottom: 20px;
    text-transform: uppercase;
}

/* Стиль для статей */
.article-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.staties {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.staties:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.staties img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.staties h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.staties p {
    color: #666;
    line-height: 1.4;
}

/* Видео секция */
.video-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.videos {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.videos:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.videos img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.videos h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.videos p {
    color: #666;
    line-height: 1.4;
}

/* Стили для футера */
footer {
    background-color: #282c34;
    color: #fff;
    padding: 40px 20px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer__navigation a {
    color: #fff;
    margin-right: 20px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.footer__navigation a:hover {
    color: #0066cc;
}

.footer__logo {
    width: 100px;
    height: auto;
    display: flex;

}

.footer__desc {
    font-size: 0.9em;
    color: #ccc;
}

/* Кнопки назад в диалогах */
dialog button {
    background-color: #0066cc;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

dialog button:hover {
    background-color: #004c99;
}